* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: #f4f6ff;
}

/* Global */

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 1.7rem;
}

img {
  width: 30%;
}
h2 {
  padding: 1rem 7rem;
}
/* Header */

#headerbox {
  background-color: #01a9b4;
  padding: 0 7rem;
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 15vh;
  grid-template-areas: "branding . home about services";
  justify-items: center;
  align-items: center;
  border-bottom: 5px solid #f37121;
}

#headerbox .nav {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

#headerbox .nav:hover {
  color: gray;
}

#branding {
  grid-area: branding;
  justify-self: start;
  color: white;
}
.home {
  grid-area: home;
}
.about {
  grid-area: about;
}
.services {
  grid-area: services;
}

/* Showcase */

#showcase {
  height: 75vh;
  color: white;
}

#showcase::after {
  content: "";
  background: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#showcase .container {
  padding-top: 7rem;
}

#showcase h1 {
  font-size: 4rem;
}

/* Newsletter */

#newsletter {
  background-color: #01a9b4;
  margin-top: 4rem;
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "h1 subscribe";
  justify-items: center;
  align-items: center;
  border-top: 5px solid #f37121;
}

#newsletter h1 {
  grid-area: h1;
  color: white;
}

#newletter .subscribe {
  grid-area: subscribe;
}

#newsletter input[type="email"] {
  padding: 0.6rem;
  height: 1.5rem;
  width: 18rem;
  border: none;
}

#newsletter button[type="submit"] {
  background-color: #f37121;
  color: white;
  font-size: 1rem;
  height: 2.8rem;
  width: 7rem;
  border: none;
}

/* Boxes */

#boxes {
  padding-top: 4rem;
}
#boxes h3 {
  margin: 1rem 0;
}
#boxes p {
  font-size: 1rem;
}

.containerbox {
  margin-bottom: 3rem;
  padding: 0 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box1 box2 box3";

  justify-items: center;
  align-items: center;
  text-align: center;
}
.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

footer {
  padding: 1rem;
  background-color: #01a9b4;
  color: white;
}

footer p {
  text-align: center;
  grid-area: footer;
  font-size: 1rem;
}

/* About */

#about {
  padding: 2rem 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.15fr;
  grid-template-areas:
    "about1 about2"
    "about1 about2";
  grid-gap: 2rem;
}

#about p {
  font-size: 1rem;
}

.about1 {
  grid-area: about1;
}

.about1 .aboutP2 {
  margin-top: 1rem;
  grid-area: about2;
  background-color: #01a9b4;
  padding: 1rem;
  color: white;
}

/* Services */

#services {
  padding: 0 7rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "str gtq"
    "meal gtq"
    "cons .";
  grid-gap: 2rem;
}

#services p {
  font-size: 1rem;
}

.strength {
  grid-area: str;
}

.meal {
  grid-area: meal;
}

.consultation {
  grid-area: cons;
}

.getaquote {
  grid-area: gtq;
  background-color: #01a9b4;
}

#services div {
  padding: 2rem;
  background-color: #e0dede;
}

#services .getaquote h3 {
  margin: 2rem;
  color: white;
}

#services .getaquote input[type="text"] {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  height: 1.5rem;
  width: 15rem;
  border: none;
}

#services .getaquote input[type="email"] {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  height: 1.5rem;
  width: 15rem;
  border: none;
}

#services .getaquote button[type="submit"] {
  margin: 0.5rem 1rem;
  background-color: #f37121;
  color: white;
  font-size: 1rem;
  height: 2.8rem;
  width: 7rem;
  border: none;
}

/* Media Queries */

@media (max-width: 1024px) {

p{
  font-size: 1rem;
}
  #headerbox {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12vh 12vh;
    grid-template-areas:
      "branding branding branding"
      "home about services";
  }

  #branding {
    padding-top: 1rem;
    justify-self: center;
    text-align: center;
  }

  #showcase .container {
    padding-top: 5rem;
  }

  #showcase h1 {
    font-size: 2rem;
  }

  /* Newsletter */

  #newsletter {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "h1"
    "subscribe";
    text-align: center;
  
  }

  #newsletter {
    margin-top: 0rem;
    height: 15rem;
  }

 
  
  #newsletter button[type="submit"] {
    margin: 1rem;
    width: 7rem;
    border: none;
  }
  /* Boxes */
  #boxes {
    padding-top: 4rem;
  }
  
  .containerbox {
    padding:0.2rem;
  }

  /* About */
  #about {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr;
    grid-template-areas:
      "about1"
      "about2";
  }

  /* Services */

  h2 {
    padding: 0;
    text-align: center;
    margin: 3rem;
  }

  #services {
    margin-bottom: 2rem;
    padding: 0 2rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-template-areas:
      "str"
      "meal"
      "cons"
      "gtq";
    grid-gap: 2rem;
  }

  .getaquote {
   justify-self: center;
   padding: 2rem;
  }


}

